<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
    <div th:replace="partials/partials.html :: bootstrap-css"></div>
</head>
<body>
    <div th:replace="partials/partials.html :: navbar"></div>


    <h2>Add a Post</h2>

    <div class="container">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input th:field="*{title}" type="text" id="title" class="form-control" placeholder="Blog post title">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body:</label>
                <textarea th:field="*{body}" class="form-control" id="body" rows="4" placeholder="Blog post body"></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-warning"/>
        </form>
    </div>


    <div th:replace="partials/partials.html :: bootstrap-js"></div>
</body>
</html>